{% extends 'base.html' %}
{% load static %}

{% block title %}
基础软硬件缺陷清单
{% endblock %}

{% block custom_css %}
<link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
{% endblock %}

{% block content-header %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>软硬件缺陷清单</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">首页</a>
                </li>
                <li class="breadcrumb-item active">
                    缺陷清单 -
                    <strong>
                        {% if periods %}
                            {{ periods|slice:":4"}}年{{ periods|slice:"5:"}}期
                        {% else %}
                            全部
                        {% endif %}

                    </strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="ibox-content">
            <input type="text" class="form-control form-control-sm m-b-xs" id="filter"
                                   placeholder="搜索关键字">
            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                <thead>
                <tr>
                    <th data-type="numeric" data-toggle="true">序号</th>
                    <th>产品类型</th>
                    <th>设备型号/软件版本</th>
                    <th>生产厂商</th>
                    <th data-hide="all">缺陷原因</th>
                    <th>缺陷影响</th>
                    <th data-hide="all">解决方案</th>
                    <th>补丁版本</th>
                    <th data-hide="all">解决状态</th>
                    <th data-hide="all">发现时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for defect in all_defects %}
                    <tr>
                        <td>{{ defect.number }}</td>
                        <td>{{ defect.category }}</td>
                        <td>{{ defect.model }}</td>
                        <td>{{ defect.manufacturer }}</td>
                        <td>{{ defect.reason }}</td>
                        <td>{{ defect.defect }}</td>
                        <td>{{ defect.solution }}</td>
                        <td>{{ defect.fix_pack }}</td>
                        <td>{{ defect.status }}</td>
                        <td>{{ defect.find_date }}</td>
                        <td><a href="{% url '' %}"><i class="fa fa-list text-navy"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script>
        $(document).ready(function() {
            $('.footable').footable();
        });
    </script>
{% endblock %}

