{% for k,item in menu_result.items %}
    <li class="{% if item.active %}active{% endif %}">
        <a href="#">
            <i class="fa {{ item.icon }}"></i>
            <span class="nav-label">{{ item.menu_title }}</span>
            <span class="fa arrow"></span>
        </a>
        {% if item.children %}
            <ul class="nav nav-second-level collapse">
                {% for v in item.children  %}
                    <li class="{% if v.active %}active{% endif %}">
                        <a href="{{ v.url }}">{{ v.title }}</a>
                    </li>
                {% endfor %}
             </ul>
        {% endif %}
    </li>
{% endfor %}
